@model UserRegisterVm
<div class="container">
	<div class="row justify-content-center">
		<div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mb--30 mb-lg--0">
			<!-- Login Form s-->
			<form method="post">
				<div class="login-form">
					<h4 class="login-title">New Customer</h4>
					<p><span class="font-weight-bold">I am a new customer</span></p>
					<div class="row">
						<div class="col-md-12 col-12 mb--15">
							<label asp-for="FullName" ></label>
							<input asp-for="FullName"  class="mb-0 form-control"
								   placeholder="">
                            <span asp-validation-for="FullName" class="text-danger"></span>
						</div>
						<div class="col-md-12 col-12 mb--15">
							<label asp-for="Email"></label>
							<input asp-for="Email" class="mb-0 form-control"
								   placeholder="">
							<span asp-validation-for="Email" class="text-danger"></span>
						</div>
						<div class="col-lg-6 mb--20">
							<label asp-for="Password"></label>
							<input asp-for="Password" class="mb-0 form-control"
								   placeholder="">
							<span asp-validation-for="Password" class="text-danger"></span>
						</div>
						<div class="col-lg-6 mb--20">
							<label asp-for="ConfirmPassword"></label>
							<input asp-for="ConfirmPassword" class="mb-0 form-control"
								   placeholder="">
							<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
						</div>
						<div class="col-md-12">
							<button type="submit" class="btn btn-outlined">Register</button>
						</div>
					</div>
				</div>
			</form>
		</div>
		
	</div>
</div>